*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

.card{
    text-align: center;
     ;
    margin-top: 50px;
    min-height: 668px;
    background-image: none;
    height: auto;
    width: 662px;
    margin: 60px auto;
    box-sizing: border-box;
    
    
    
}
.input:focus{
    outline: 0;
}
.content{
    box-sizing: border-box;
    border-bottom: 10px;
    border-bottom-style:solid ;
    border-bottom-color:rgb(149, 111, 229) ;
    border-top-color:rgb(149, 111, 229) ;
    border-top-width:10px ;
    border-top-style:solid ;
    border-left-color:rgb(149, 111, 229) ;
    border-left-width: 10px; ;
    border-left-style:solid ;
    border-right-color:rgb(149, 111, 229) ;
    border-right-width: 10px ;
    border-right-style:solid ;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    
}
.underline{
    text-decoration: none;
}
.title{
    font-family:  'Roboto', sans-serif;
    font-size: 3rem;
    margin: 0%;
    box-sizing: border-box;
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
    margin-top: 48px;
    margin-bottom: 20px;
   
}

}
}
.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    text-size-adjust: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;  
}
.font{
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: inherit;
    height: auto;
   
}
.content2{
   margin-top: 32px ;
   text-align: left;
   margin-left: 5px;
}
.text{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: -10px;
  
}
.button{
    display: flex;
    justify-content: center;
    
    padding-top: 10px;
    padding-bottom: 64px;
    
    
    

}
.button-link{
    background-color: #956fe5;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    
}
.text1{
    background-color: #fff;
    padding: 10px 12px;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #b3b3b3;
  font-family: "Open Sans", sans-serif;
  border-width: 1px;
  font-size: 18px;
  
}
.text2{
    background-color: #fff;
    padding: 10px 12px;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid ;
 font-size: 18px;
  border-color: #b3b3b3;
  font-family: "Open Sans", sans-serif;
  border-width: 1px;
}
.text3{
    background-color: #fff;
    padding: 10px 12px;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid ;
  
  height: 8em;
  border-color: #b3b3b3;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-width: 1px;

 
}
.checkbox{
    margin-right: 5px;
}



    
