

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  transform: scale(1.2);




}
.card-image img{
  width: 100%;
  height: 100px;
  object-fit:cover ;
}


 .card {
  width: 350px;
  margin: auto;
  height: 500px;
  
  color: tomato;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  
  
}
.card-content{
  position: relative;
  z-index: 3;
  padding: 10px;
  transform: translateY(150px);
}
.card:hover .card-content{
  transform: translateY(0);
}
.card:hover img {
  transform: scale(1.2);

}

