*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 2500px;
}
.box-1{
    width: 200px;
    height: 200px;
    background-color: bisque;

      position: relative;
    top: 100px;
    left: 200px; 
     

}
.box-2{
    width: 400px;
    height: 300px;
    background-color: brown;

    margin-left: 200px;
     position: relative;
    z-index: 2; 
}
.box-3{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
     position: absolute;
    top: 50px;
    left: 100px;
 }
 
.box-2-parent{
    width:1000px;
    height: 500px;
    background-color: blue;

     position: relative; }
     
.top{
    padding: 10px 20px;
    background-color: darkgreen;
    border: none;
    text-transform: uppercase;


    position: fixed;
    right: 50px;
    bottom: 50px;

}
.box-4{
    height: 100px;
    background-color: cornflowerblue;

    position: sticky;
    top: 50px;
    left: 100px;
}
