body{
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.card {
    width: 350px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);;
    border-radius: 7px;
    overflow: hidden;

}
.content{
    padding: 20px;
    
}
.title{
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}
.discription{
    color: #757575;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 16px;

}
.rating{
    color: #757575;
    font-size: 14px;
    font-weight: 100;
}
