body{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 16px 50px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    position: relative;
    /* overflow: hidden; */
}
.btn::before{
    content: "";
    position: absolute;

    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background-color: tomato;
    transition: all 1s;
    
}
.btn:hover::before{
    left: 0;
}
.btn span{
    position: relative;
    z-index: 3;
}
.btn::after{
    content: "";
    position: absolute;

    top: 0;
    left: 100%;
    width: 100%;
    height: 50%;
    background-color: tomato;
    transition: all 1s;

}