body {
  font-family: "Roboto", sans-serif;
}
h2 {
  color: blue;
}

#heading {
  color: red;
}

.title {
  color: rgb(75, 49, 142);
}
h2#heading {
  color: darkgoldenrod;
}
h2#heading.title {
  color: darkorchid;
}
body h2#heading.title {
  color: green;
}
.icon {
  color: rgb(184, 11, 69);
  font-size: 70px;
}
